html {
	font-size: 17px;
}
body {
	font-family: 'Lato', sans-serif; 
	margin: 0;
	background-color: #fcfbfa;
}
img {
	max-width: 100%;
}
h1 {
	font-size: 2.4rem; 
	line-height: 1.2;
	color: #fff;
	width: 80%;
	margin: 1.6rem auto 0;
	text-align: center;
}
h2 {
	font-size: 1.6rem;
	line-height: 1.2;
	color: #1a1a1a;
	margin: .9rem 0;
}
p {
	line-height: 1.7;
	color: #000;
	margin: 0 0 1.6rem;
}
a {
	text-decoration: none;
	color: #00a9d4;
}
ul {
	list-style-type: none;
}
nav {
	font-size: 1.1rem;
}
nav ul {
	padding: 0;
	margin: 0;
	margin-bottom: .65rem;
}
nav li {
	line-height: 1.5;
}
nav li a {
	padding: .29rem .59rem;
	color: #fff;
}
.content-wrapper {
	max-width: 960px;
	margin: auto;
	padding: 0 1.8rem;
}
main .content-wrapper {
	max-width: 42em;
}
header {
	background-color: #00b0dc;
	border-bottom: 3px solid #009bc2;
	line-height: 1px;
	margin: auto;
	overflow: hidden;
	text-align: center;
}
header .logo {
	margin: .65rem .4rem;
	width: 132px;
}
.hero {
	text-align: center;
	padding: 2.4rem 0;
	background:
		linear-gradient(
			rgba(0, 0, 0, .48), 
			rgba(0, 0, 0, .48)
		), 
		url('../img/siesta-in-hammock@2x.jpg') no-repeat 60% center;
	background-size: cover;
}
.hero p {
	color: #fff;
	width: 80%;
	margin: 0 auto 1.6rem;
	font-size: 1.4rem;
	line-height: 1.5;
	font-weight: 300;
}
main {
	box-sizing: border-box;
	padding: 30px 0;
	border-bottom: solid 1px #dcdcdc;
}
#press-quote {
	font-style: italic;
	font-size: 1.4rem;
	line-height: 1.5;
	font-weight: 300;
	margin: 1.8rem 0;
	border-left: 4px solid #53b7ea;
	padding-left: 1em;
}
figure {
	margin: 0;
}
figcaption {
	color: #888;
	text-align: center;
	margin: .47rem 0 1.2rem;
	font-size: .82rem;
}
footer {
	padding: 1.2rem;
}
footer p {
	font-size: .94rem;
	font-weight: 300;
	color: #999;
	text-align: center;
	margin-bottom: 0;
}

@media (min-width: 540px) { 
	header .logo {
		float: left;
	}
	nav {
		float: right;
		margin-top: 21px;
	}
	nav ul li {
		display: inline-block;
	}
	figure {
		float: left;
		width: 40%;
		min-width: 225px;
		margin-right: 1.53rem;
	}
}