html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}
::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}

/* ==========================================================================
	 Author's custom styles
	 ========================================================================== */
body {
	color: #404040;
	font-family: "Martel Sans", Helvetica, Arial, sans-serif;
}
.outer-wrapper {
	margin: auto;
	max-width: 960px;
}
header select {
	margin-top: 2.25em;
	margin-right: 0.9em;
	float: right;
}
h1 {
	display: inline-block;
	font-size: 3em;
	font-weight: 400;
	margin: 0;
	padding: 0.3em;
}
.main {
	background: #eee;
	border-radius: 4px;
	padding: 20px;
}
.img-holder {
	float: left;
	margin-right: 50px;
	width: 290px;
}
.img-holder > div {
	background: #fff;
	border-radius: 4px;
	padding: 15px;
}
.img-holder p {
	margin: 1em 0 0;
	text-align: center;
}
.info-holder {
	display: inline-block;
	float: left;
}
h2 {
	font-weight: 400;
	margin-top: 0;
}
.info-holder p {
	margin: 0.5em 0;
}
.info-holder strong {
	display: inline-block;
	font-size: 0.8em;
	font-weight: 900;
	margin-right: 10px;
	text-align: right;
	text-transform: uppercase;
	width: 110px;
}

/* ==========================================================================
	 Helper classes
	 ========================================================================== */

.hidden {
	display: none !important;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* ==========================================================================
	 Media Queries
	 ========================================================================== */
@media (max-width: 755px) {
	.info-holder {
		margin-top: 1.25em;
	}
	.info-holder strong {
		text-align: left;
	}
}
@media (max-width: 488px) {
	header select {
		margin: 0 1.25em 2.25em;
		float: none;
	}
}
@media (max-width: 400px) {
	.img-holder {
		float: none;
		margin: 0 auto;
	}
	.info-holder {
		width: 290px;
		margin: 1.25em auto;
		float: none;
		display: block;
	}
	.info-holder strong {
		display: block;
	}
}
