.test, .test2 {  
  width: 1000px;
  height: 500px;
  border: 5px solid #000000;
  background-color: red;
}

#first {
  float: left;
  width: 400px;
}

.test img {
  float: right;
  width: 500px;
}

#forst {
  float: right;
  width: 400px;
}

.test2 img {
  float: left;
  width: 500px;
}
