<<<<<<< HEAD
@tailwind base;

@tailwind components;

@tailwind utilities;

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

/* visual height classes */
.h-5p {height: 5vh;}

.h-10p {height: 10vh;}

.h-12p {height: 12.5vh;}

.h-15p {height: 15vh;}

.h-16p {height: 16.66667vh;}

.h-20p {height: 20vh;}

.h-25p {height: 25vh;}

.h-30p {height: 30vh;}

.h-33p {height: 33.33333vh;}

.h-35p {height: 35vh;}

.h-37p {height: 37.5vh;}

.h-40p {height: 40vh;}

.h-45p {height: 45vh;}

.h-50p {height: 50vh;}

.h-55p {height: 55vh;}

.h-60p {height: 60vh;}

.h-62p {height: 62.5vh;}

.h-65p {height: 65vh;}

.h-66p {height: 66.66666vh;}

.h-70p {height: 70vh;}

.h-75p {height: 75vh;}

.h-80p {height: 80vh;}

.h-83p {height: 83.33333vh;}

.h-85p {height: 85vh;}

.h-90p {height: 90vh;}

.h-95p {height: 95vh;}

/*visual width classes*/
.w-5p {width: 5vw;}

.w-10p {width: 10vw;}

.w-12p {width: 12.5vw;}

.w-15p {width: 15vw;}

.w-16p {width: 16.66667vw;}

.w-20p {width: 20vw;}

.w-25p {width: 25vw;}

.w-30p {width: 30vw;}

.w-33p {width: 33.33333vw;}

.w-35p {width: 35vw;}

.w-37p {width: 37.5vw;}

.w-40p {width: 40vw;}

.w-45p {width: 45vw;}

.w-50p {width: 50vw;}

.w-55p {width: 55vw;}

.w-60p {width: 60vw;}

.w-62p {width: 62.5vw;}

.w-65p {width: 65vw;}

.w-66p {width: 66.66666vw;}

.w-70p {width: 70vw;}

.w-75p {width: 75vw;}

.w-80p {width: 80vw;}

.w-83p {width: 83.33333vw;}

.w-85p {width: 85vw;}

.w-90p {width: 90vw;}

.w-95p {width: 95vw;}

.item {
  width: 33.333%;
  height: 40vh;
  line-height: 200px;
  cursor: pointer;
  /* border-right: 1px solid black; */
}
.info {
    height: 40vh;
    width: 0;
    display: none
}

.item.work {
  background-image: url(../imgs/work_silh.png);
}
.item.edu {
  background-image: url(../imgs/read_silh.png);
}
.item.muse {
  background-image: url(../imgs/guitar_silh.png);
}
=======
* {
  margin: 0;
  padding: 0;

}
body, html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}
#Crafter { /*whole page bg color*/
  background-color: #642F29;
  height: auto;
}
#PRS { /*whole page bg color*/
  background-color: #130F12;
  height: auto;
}
.header { /*stationary header*/
  width: 100vw;
  height: 12vh;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  font-size: 9em;
}
.Crafter.header {
  background-color: inherit;
  font-family: 'Shadows Into Light', cursive;
}
.PRS.header {
  background-color: inherit;
  font-family: 'Satisfy', cursive;
}

/* Handles the format for each "page" */
.section {
  width: 100vw;
  height: 78vh;
  position: absolute;
  top: 12vh;
  left: 0;
  display: grid;
  visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  font-size: 2.65em;

}
.section.Crafter {
    grid-template-columns: 5fr 2fr;
    background-color: #C3A791;
    font-family: 'Just Another Hand', cursive;
}
.section.PRS {
    grid-template-columns: 2fr 5fr;
    background-color: #83858C;
    font-family: 'Rajdhani', sans-serif;
}
.active {
  visibility: visible;
}

.PRS .sectIMG {
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: inherit;
}
.Crafter .sectIMG {
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: inherit /*#6D3D14*/;
}
#sectInfo {
  height: auto;
}
.pgup, .pgdown {
  height: 8vh;
}

/* headStockCr page formatting */

#headStockCr .sectInfo {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 2fr;
  grid-template-columns: 1fr 1fr 1fr;
}
#headStockCr .sectInfo div {
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
#headStockCr .sectIMG {
  background-image: url('../imgs/Crafter_headstock.png');
}
#headStockCr .sectInfo .title {
  grid-column: 1/4;
  grid-row: 2/4;
}
#headStockCr .sectInfo .xpage {
  grid-column: 1/-1;
  grid-row: 7/8;
}

/* neckCR Page formatting */

#neckCr .sectInfo {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 2fr;
  grid-template-columns: repeat(11, 1fr);
}
#neckCr .sectInfo div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F7DAD9;
  /* text-shadow: 1px 1px black; */
  border: none;
}
#neckCr .sectIMG {
  background-image: url('../imgs/Crafter_neckfull.png');
}
#neckCr .sectInfo #myPhoto {
  grid-column: 1/5;
  grid-row: 1/6;

}
#neckCr .sectInfo #myName {
  grid-column: 5/12;
  grid-row: 1/2;
}
#neckCr .sectInfo #myRole {
  grid-column: 5/12;
  grid-row: 2/4;
  align-items: start;
  font-size: 1.5em;
  background-color: #AF2440;
  text-shadow: .1em .1em #551B14;
  padding-top: 1.1375em;

}
#neckCr .sectInfo #myBio {
  grid-column: 6/12;
  grid-row: 3/7;
  padding: 0 2vw 0 2vw;
  font-size: 1.25em;
  line-height: 1.675em;
  background-color: #2C2C54;
  font-family: 'Stylish', sans-serif;
}
#neckCr .sectInfo .xpage {
  grid-column: 1/-1;
  grid-row: 7/8;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* #bodyCr page formatting */

#bodyCr .sectInfo {
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr 2fr;
  grid-template-columns: 1fr 1fr;
}
#bodyCr .sectInfo div {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

}
#bodyCr .sectIMG {
  background-image: url('../imgs/Crafter_bodymost.png');
}
#bodyCr .sectInfo .xpage{
  grid-column: 1/4;
  grid-row: 7/8;
}
#insta img, #linkd img,
#resdl img, #githb img {
  height: 8vh;
}
#bodyCr .sectInfo #email {
  grid-column: 1/-1;
  grid-row: 3;
  font-size: 3em;
  padding: 1em;
}
#bodyCr .sectInfo #insta {
  grid-column: 1/2;
  grid-row: 2;
  background-color: #F7DAD9;
}
#bodyCr .sectInfo #linkd {
  grid-column: 2/3;
  grid-row: 2;
  background-color: #2C2C54;
}
#bodyCr .sectInfo #resdl {
  grid-column: 1/2;
  grid-row: 4;
  background-color: #C92A2A;
}
#bodyCr .sectInfo #githb {
  grid-column: 2/3;
  grid-row: 4;
  background-color: #BADA55;
}

/* #headStockPRS page formatting */

#headStockPRS .sectIMG {
  background-image: url('../imgs/PRS_headstock.png')
}

/* #neckPRS page formatting */

#neckPRS .sectInfo {
  display: grid;
  grid-template-rows: 1fr 3fr 3fr 1fr;
  grid-template-columns: 1fr 1fr;
}
#neckPRS .sectInfo div {
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
#neckPRS .sectIMG {
  background-image: url('../imgs/PRS_neckfull2.png');
  background-size: 100%;
}
.PortfolioWelcome {
  grid-column: 1/3;
  grid-row: 1;
}
#neckPRS .sectInfo > div[class='PortfolioProject']:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 2;
}
#neckPRS .sectInfo > div[class='PortfolioProject']:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 2;
}
#neckPRS .sectInfo > div[class='PortfolioProject']:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 3;
}
#neckPRS .sectInfo > div[class='PortfolioProject']:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 3;
}
#neckPRS .sectInfo div > * {
  margin: 0 .5em 0 .5em;
}
#neckPRS .sectInfo .xpage {
  grid-column: 1/-1;
  grid-row: 4/5;
}

#neckPRS .ProjectImage {
  width: 150px;
}
#neckPRS .ProjectHeader {
  font-size: 25px;
}


/* #bodyPRS page formatting */

#bodyPRS .sectInfo {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(12, 1fr);
  font-weight: 900;
  grid-row-gap: 1.5em;
  font-family: 'Stylish', sans-serif;
}
#bodyPRS .sectIMG {
  background-image: url('../imgs/PRS_bodymost.png');
}

#booksicon img, #playicon img,
#musicicon img, #workicon img {
  height: 20vh;
  -webkit-transform: translateZ(-1);
  transform: translateZ(-1);
}
#bodyPRS .sectInfo div {
  display: flex;
  justify-content: center;
  align-items: center;
  /*

  border: solid;
  */
}
#bodyPRS .sectInfo #myWork {
  grid-column: 1/5;
  grid-row: 1/4;
  background-color: #DDA15E;
  opacity: .75;
  font-size: 1em;
  padding: 1em 1.5em 1em 1.5em;


}
#bodyPRS .sectInfo #myEdu {
  grid-column: 4/8;
  grid-row: 3/6;
  background-color: #FEFAE0;
  opacity: .75;
  padding: 1em 1.5em 1em 1.5em;
}
#bodyPRS .sectInfo #myMusic {
  grid-column: 7/12;
  grid-row: 1/4;
  background-color: #922724;
  opacity: .75;
  padding: 1em 1.5em 1em 1.5em;
}
#bodyPRS .sectInfo #myAct {
  grid-column: 9/13;
  grid-row: 3/6;
  background-color: #5F4842;
  opacity: .75;
  padding: 1em 1.5em 1em 1.5em;
}
#bodyPRS img ~ h2 {
  font-family: 'Satisfy', cursive;

  transform: translateZ(0);
}
#bodyPRS .sectInfo #workicon {
  grid-column: 1/5;
  grid-row: 1/4 ;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bodyPRS .sectInfo #booksicon {
  grid-column: 4/8;
  grid-row: 3/6;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bodyPRS .sectInfo #musicicon {
  grid-column: 7/12;
  grid-row: 1/4;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 1em;
}
#bodyPRS .sectInfo #playicon {
  grid-column: 9/13;
  grid-row: 3/6;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1em;
}
#bodyPRS .sectInfo .xpage {
  grid-column: 1/-1;
  grid-row: 6/7;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bodyPRS ul {
  list-style-type: none;
  margin-left: 1em;
}
#bodyPRS dt {
  margin-left: 1em;
}
#bodyPRS dd {
  margin-left: 2em;
}
>>>>>>> b3a2313b139c959aa2b82b67311da6c4892297b2
