body {
  text-align: center;
  font-family: 'Audiowide';
  color: #14e8d6;
  font-size: 2em;

  background-image: url('imgs/purple_data.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

}
input, button {
  font-family: 'Catamaran';
  font-size: 1.5em;
}

#about {
  font-size: .35em;
}
